current_homework = "homework0"

# Staging
staging_repo = ""
staging_cove_url = "localhost:8001"
staging_cove_api_key = ""
staging_cove_project = ""

# Production
production_repo = ""
production_cove_url = ""
production_cove_api_key = ""
production_cove_project = ""
